{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pouet Pouet</title>
</head>
<body>
    <input type="text" id="gameID" placeholder="Game ID" required>GameID
	<br>
    <input type="text" id="userID" placeholder="User ID" required>UserID
	<br>
    <input type="text" id="playerID" placeholder="Player ID" required>playerNumber
	<br>
    <script src="{% static 'js/wsstest.js' %}"></script>
</body>
</html>