{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@300;400;600&family=Poppins:wght@400;600&display=swap"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <link rel="stylesheet" href="{% static 'generalchat.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <div id="content-container-replace">
            <div class="vignette"></div>
            <div class="blur-background"></div>
            <header>
                <h1>
                    <a href="{% url 'home_page' %}" class="logo">Transcendance</a>
                </h1>
                <div>
                    <a href="{% url 'home_page' %}" class="game-button">GAME</a>
                    <a href="{% url 'general_chat' %}" class="header-btn">Chat</a>
                    <a href="{% url 'user_logout' %}" class="header-btn logout-btn">Logout</a>
                    <a href="{% url 'user_dashboard' %}" class="header-btn profile-btn">Profile</a>
                </div>
            </header>
            <div class="background-container"></div>
            <div class="chat-container">
                <div class="user-list">
                    <div id="userList"></div>
                    <button id="newChatButton">New Chat</button>
                </div>
                <div class="chat-window">
                    <div class="selected-user" id="startChatPrompt">Select a user or group to start chatting</div>
                    <div id="messages"></div>
                    <div class="message-input">
                        <textarea id="messageText" placeholder="Type your message here..."></textarea>
                        <input type="hidden" id="imageData" />
                        <div id="imagePreview"></div>
                        <button id="sendMessage">Send</button>
                    </div>
                </div>
            </div>
            <div id="popup" class="popup">
                <div class="popup-content">
                    <span class="close-btn" onclick="closePopup()">&times;</span>
                    <h3>Create a new chat !</h3>
                    <div class="search-container">
                        <input type="text" id="searchInput" placeholder="Search...">
                        <button type="button" id="searchBtn">Search</button>
                    </div>
                    <div id="searchResult" class="search-result" style="display: none;"></div>
                    <div class="users-and-invited-container">
                        <div class="user-container">
                            <h4 class="title-outside">User list</h4>
                            <div class="user-list-container" id="user-list">
                            </div>
                        </div>
                        <div class="invited-container">
                            <h4 class="title-outside">Invited Users</h4>
                            <div class="user-list-container" id="invitedUsers"></div>
                        </div>
                    </div>
                    <button class="start-button">Create Chat</button>
                </div>
            </div>
            <script src={% static 'utils.js' %}></script>
            <script src={% static 'generalchat.js' %}></script>
            <script src={% static 'generalchat2.js' %}></script>
        </div>
    </body>
</html>
