body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/281/253/desktop-wallpaper-best-6-80s-backgrounds-on-hip-retro-80s.jpg");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    z-index: -1;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    color: yellow !important;
}

.error-code, .error-message {
    color: inherit; 
}

.error-code {
    font-size: 15vw;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.error-message {
    font-size: 6em; 
}
