{% extends 'html/header.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'forgot_password.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<div class="forgot-password-frame">
	<h2>Forgot password ?</h2>
	<label for="email">Please enter your email</label>
	<img src="https://i.pinimg.com/originals/e4/8b/19/e48b194083622deba99454f55cf1a781.gif" alt="Loading..."
		class="password-reset-gif">
	<input type="email" id="email" name="email" placeholder="your.email@example.com">
	<div id="error-message" style="color: red; font-style: italic;"></div> <!-- Élément pour les messages d'erreur -->
	<button type="submit" onclick="sendRequest()">Send</button>
	<script src="{% static 'utils.js' %}"></script>
	<script src="{% static 'forgot_password.js' %}"></script>
</div>
{% endblock %}